Repository Irere123/reall, changes with the labels that .github/labeler.yml gives for each.
All labels: api, packages, emote, translation

feat(api): added google oauth
  api/config/config.exs
  api/config/dev.exs
  api/config/runtime.exs
  api/lib/adapters/mutations/users.ex
  api/lib/adapters/users.ex
  api/lib/api/routes/google_auth.ex
  api/lib/router.ex
  api/lib/schemas/user.ex
  api/mix.exs
  api/mix.lock
  api/priv/repo/migrations/20230103223513_add_google.exs
Labels: api

feat(web): added google oauth login button
  apps/web/src/icons/GoogleIcon.tsx
  apps/web/src/icons/index.ts
  apps/web/src/modules/auth/LoginPage.tsx
Labels: none

feat(added a spimple loading screen): hdsds
  apps/web/src/modules/auth/LoginPage.tsx
  apps/web/src/modules/auth/WaitForWsAndAuth.tsx
  apps/web/src/modules/display/HeaderController.tsx
  apps/web/src/ui/LoadingScreen.tsx
Labels: none

feat(web): added a logout
  apps/web/next.config.js
  apps/web/src/modules/auth/WaitForWsAndAuth.tsx
  apps/web/src/modules/display/HeaderController.tsx
  apps/web/src/modules/user/UserProfileController.tsx
  apps/web/src/pages/logout.tsx
Labels: none

refactor(web): layouts for interface updated
  apps/web/src/modules/chat/GroupPage.tsx
  apps/web/src/modules/chat/MessagesPage.tsx
  apps/web/src/modules/feed/FeedPage.tsx
  apps/web/src/modules/layouts/GridPanels.tsx
  apps/web/src/modules/layouts/Sidebar.tsx
  apps/web/src/modules/search/SearchBarController.tsx
  apps/web/src/modules/user/FriendsPage.tsx
  apps/web/src/modules/user/InboxPage.tsx
  apps/web/src/modules/user/ProfilePage.tsx
  apps/web/src/shared-hooks/usePageVisibility.ts
  apps/web/src/styles/globals.css
  apps/web/src/ui/BoxedIcon.tsx
  apps/web/src/ui/Card/Card.tsx
  apps/web/src/ui/Card/CardFooter.tsx
  apps/web/src/ui/Card/CardHeader.tsx
  apps/web/src/ui/GridPanel.tsx
  apps/web/src/ui/InfoText.tsx
  apps/web/src/ui/Input.tsx
  apps/web/src/ui/MainGrid.tsx
  apps/web/src/ui/Search/SearchBar.tsx
  apps/web/src/ui/Search/SearchOverlay.tsx
  apps/web/src/ui/header/MiddleHeader.tsx
  apps/web/tailwind.config.js
Labels: none

refactor(web): new layouts
  apps/web/src/modules/auth/LoginPage.tsx
  apps/web/src/modules/layouts/MainLayout.tsx
  apps/web/src/ui/Button.tsx
  apps/web/src/ui/header/MiddleHeader.tsx
Labels: none

docs(global): added docs folder
  apps/docs/package.json
  apps/web/next.config.js
  apps/web/package.json
  yarn.lock
Labels: none

refactor(web): removed the friends page
  apps/web/src/modules/user/FriendsPage.tsx
  apps/web/src/pages/friends.tsx
Labels: none

feat(web): new profile page design
  apps/web/src/lib/constants.ts
  apps/web/src/lib/kFormatter.ts
  apps/web/src/modules/display/TextParser.tsx
  apps/web/src/modules/user/UserProfileController.tsx
  apps/web/src/ui/ProfileAbout.tsx
  apps/web/src/ui/ProfileHeader.tsx
  apps/web/src/ui/ProfileHeaderWrapper.tsx
  apps/web/src/ui/ProfileTabs.tsx
  apps/web/src/ui/UserProfile.tsx
  packages/client/src/entities.ts
Labels: packages

feat(api): added the follows db model and migrations
  api/lib/adapters/follows.ex
  api/lib/schemas/follows.ex
  api/lib/schemas/user.ex
  api/priv/repo/migrations/20230330103047_followers.exs
  api/priv/repo/migrations/20230330111825_update_user_model.exs
Labels: api

feat(api): added the follow and unfollow api routes
  api/lib/adapters/follows.ex
  api/lib/api/message/_types/operator.ex
  api/lib/api/message/manifest.ex
  api/lib/api/message/user/follow.ex
  api/lib/api/message/user/unfollow.ex
  api/lib/components/follow_logic.ex
Labels: api

feat(client): added unfollow and follow mutations
  packages/client/src/websocket/wrapper.ts
Labels: packages

feat(web): added following and unfollowing functionality
  apps/web/src/ui/ProfileHeader.tsx
  packages/client/src/entities.ts
Labels: packages

fix(web): fixed type user error on profile page
  apps/web/src/modules/user/UserProfileController.tsx
  packages/client/src/websocket/wrapper.ts
Labels: packages

feat(web): added right panel
  apps/web/src/modules/feed/FeedPage.tsx
  apps/web/src/modules/feed/ProfileBlockController.tsx
  apps/web/src/modules/layouts/DefaultDesktopMainLayout.tsx
  apps/web/src/modules/layouts/GridPanels.tsx
  apps/web/src/modules/layouts/MainLayout.tsx
  apps/web/src/ui/ProfileBlock.tsx
  apps/web/src/ui/UserSummaryCard.tsx
Labels: none

feat(web): added apiPreloadLink
  apps/web/src/shared-components/ApiPreloadLink.tsx
Labels: none

feat(web): added link to user profile on userSummaryCard
  apps/web/src/shared-components/ApiPreloadLink.tsx
  apps/web/src/ui/UserSummaryCard.tsx
Labels: none

feat(web): added defaultDesktopLayout component to pages
  apps/web/src/modules/chat/MessagesPage.tsx
  apps/web/src/modules/search/SearchPage.tsx
  apps/web/src/modules/settings/SettingsPage.tsx
  apps/web/src/modules/user/InboxPage.tsx
  apps/web/src/modules/user/ProfilePage.tsx
Labels: none

feat(web): added react-responsive
  apps/web/src/modules/feed/FeedController.tsx
  apps/web/src/modules/layouts/MainLayout.tsx
  apps/web/src/shared-hooks/useScreenType.tsx
  apps/web/src/ui/MainGrid.tsx
Labels: none

refactor(global): small changes
  apps/web/src/modules/feed/FeedController.tsx
  packages/client/src/websocket/raw.ts
Labels: packages

feat(web): added active link color on sidebar icons
  apps/web/src/modules/layouts/Sidebar.tsx
  apps/web/src/ui/BoxedIcon.tsx
Labels: none

feat(web): changed the card layout and ui
  apps/web/src/modules/feed/FeedController.tsx
  apps/web/src/ui/Card/Card.tsx
Labels: none

feat(api): added the get_following and followers routes
  api/lib/adapters/follows.ex
  api/lib/api/message/_types/operator.ex
  api/lib/api/message/manifest.ex
  api/lib/api/message/user/get_followers.ex
  api/lib/api/message/user/get_following.ex
  api/lib/components/follow_logic.ex
Labels: api

feat(web): added followers and following page
  api/lib/schemas/user.ex
  apps/web/src/modules/user/FollowingController.tsx
  apps/web/src/modules/user/FollowingPage.tsx
  apps/web/src/pages/u/[username]/followers.tsx
  apps/web/src/pages/u/[username]/following.tsx
  apps/web/src/shared-components/ApiPreloadLink.tsx
  apps/web/src/shared-hooks/useIntersectionObserver.ts
  apps/web/src/ui/UserSummaryCard.tsx
  packages/client/src/websocket/wrapper.ts
Labels: api, packages

feat(web): added following online bloack
  apps/web/src/modules/feed/FollowingOnlineController.tsx
  apps/web/src/modules/feed/ProfileBlockController.tsx
  apps/web/src/pages/connection-taken.tsx
  apps/web/src/ui/FollowersOnline.tsx
  apps/web/src/ui/MainGrid.tsx
  packages/client/src/websocket/wrapper.ts
Labels: packages

fix(api): users online arranged accoding to their online status
  api/lib/adapters/follows.ex
Labels: api

feat(web): changed the chat page and colors
  apps/web/src/modules/chat/GhatPage.tsx
  apps/web/src/modules/chat/GroupChatController.tsx
  apps/web/src/modules/chat/group/GroupChatHeader.tsx
  apps/web/src/modules/chat/group/GroupChatInput.tsx
  apps/web/src/pages/messages/[chatId].tsx
  apps/web/src/pages/messages/[groupId].tsx
Labels: none

feat(api): added dm and conversation models
  api/lib/schemas/conversation.ex
  api/lib/schemas/dm_message.ex
  api/priv/repo/migrations/20230330162058_dm_models.exs
  api/priv/repo/migrations/20230330162910_conversation.exs
Labels: api

feat(api): dms
  api/lib/adapters/access/dms.ex
  api/lib/adapters/dms.ex
  api/lib/adapters/mutations/dms.ex
  api/lib/adapters/queries/dms.ex
Labels: api

fix(web): removed the apipreloadlink follow type error
  apps/web/src/shared-components/ApiPreloadLink.tsx
Labels: none

feat(global): changes
  apps/web/next.config.js
  apps/web/src/pages/connection-taken.tsx
  yarn.lock
Labels: none

.github/labeler.yml:

api:
  - api/**/*
packages:
  - packages/**/*
emote:
  - web/public/emotes/**/*
translation:
  - web/public/locales/**/*
